.App {
  text-align: center;
}

.Text-block {
  text-align: left;
}

.Square {
  aspect-ratio : 1 / 1;
}

.No-top-border {
  border: 0px !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Card-footer {
  color: #525252;
}

.No-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Category-switch-inactive {
  text-decoration: none;
}

.Category-switch-active {
  text-decoration: none;
  background-color: #DF739E1A !important;
  color: #F96D5D !important;
}

.Menu-dropdown-button {
  color: #F96D5D !important;
}

.App-link {
  color: #61dafb;
}

.Token-attribute-table-title {
  color: #748296;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 2.5em;
}

.Page-subheader{
  color: #848484;
  font-size: 0.8em;
}

.TokenGridBackground{
  background-color: #EFF4FA;
}

i.icon {
  margin: 0em 0.25rem 0em 2rem
}

a {
  color: #f96d5d;
  text-decoration: underline;
}

.Token-attribute-table-value {
  color: #000000;
  font-size: 0.9em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MetadataTemplateButton {
  margin: 0.5em !important;
}

/* gives us the illusion of a "centered" slide 
with preview of previous and next slide */
.carousel__slider {
  padding-left: 25%;
  padding-right: 25%;
}

.OnboardingCarouselBackground {
  background-image: url('images/slide_gradient_background.png') !important;
  border-radius: 2em !important;
}

.OnboardingCarouselTextParagraph {  
  text-align: left;
  font-size: 0.9em;
}

.OnboardingCarouselSlideIndex {
  font-size: 0.7em;
  padding: 1.5em;
  color: #848484;

}
.margin-vertical {
  margin: 10px 0px
}

.margin-vertical-main-menu {
  margin: 2vh 0vh
}

.margin-horizontal {
  margin: 0px 10px
}

.margin-bottom {
  margin: 0px 10px 0px 0px 
}

.top-level-page {
  margin: 0px 20vw 0px 20vw
}

